<launch>
<!-- start GPS interface-->
<node name="nmea_navsat_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver">
<param name="port" value="/dev/ttyUSB0"/>
<param name="baud" value="9600"/>
</node>

<!-- start imu interface-->
<include file="$(find i2c_imu)/launch/i2c_imu_auto.launch"/>

<!-- start ZED stereo camera -->
<!-- include file="$(find zed_wrapper)/launch/zed.launch"/ -->

<!-- start the state estimation -->
<include file="$(find waypoint_manager)/../launch/state_estimator.launch />



<!-- car controller -->
<node name="waypoint_manager" pkg="waypoint_manager" type="waypoint_manager_node">
<remap from="odometry/filtered" to="odometry/filtered_map" />
<rosparam
    command="load" file="$(find waypoint_manager)/config/pid_param.yaml" />
</node>

</launch>
