<launch>

<!-- Establish Serial Communication-->
<node name="send_serial_node" pkg="send_serial" type="send_serial_node" output="screen"/>


<!-- start GPS interface-->
<node name="nmea_navsat_driver" ns="gps" pkg="nmea_navsat_driver" type="nmea_serial_driver">
<param name="port" value="/dev/ttyUSB0"/>
<param name="baud" value="9600"/>
<param name="frame_id" value="gps"/>
</node>

<node pkg="tf" type="static_transform_publisher" name="gps_to_base"
   args="-0.5 0 0 0 0 0 base_link gps 50" />

<!-- start imu interface-->
<include file="$(find i2c_imu)/launch/car_imu.launch"/>

<!-- start ZED stereo camera -->
<include file="$(find zed_wrapper)/launch/zed.launch">
  <arg name="odometry_frame"       value="odom" />
</include>

<!-- start the state estimation -->
<include file="$(find waypoint_manager)/../launch/state_estimator.launch" />



<!-- car controller -->
<node name="waypoint_manager" pkg="waypoint_manager" output="screen" type="waypoint_manager_node">
<rosparam
    command="load" file="$(find waypoint_manager)/config/pid_param.yaml" />
<param name="waypoints_file" value="$(find waypoint_manager)/config/track.txt"/>
</node>

</launch>
