<launch>


<!-- car controller -->
<node name="waypoint_manager" pkg="waypoint_manager" output="screen" type="waypoint_manager_node">
<rosparam
    command="load" file="$(find waypoint_manager)/config/pid_param.yaml" />
<param name="waypoints_file" value="$(find waypoint_manager)/config/track.txt"/>
<remap from="cmd_vel" to="catvehicle/cmd_vel" />
</node>

<!-- serial node to arduino -->
<node name="send_serial_node" pkg="send_serial" type="send_serial_node" output="screen">
<remap from="cmd_vel" to="catvehicle/cmd_vel" />
</node>
</launch>
